.formcontacto{

display: flex;
width: 1440px;
padding: 64px;
flex-direction: column;
align-items: center;
gap: 10px;
background: var(--azul-10, #EAF2FD);
}

.formcontacto__contacto{
	display: flex;
	width: 1136px;
	padding-top: 64px;
	align-items: center;
	gap: 16px;
}

@media (max-width:768px) {
    .formcontacto {
        padding: 2rem;
    }

    .formcontacto__contacto {
        padding-top: 0;
    }
}



